/* LINK STYLES*/
a:link {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}


li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}




.navbar {
  font-size: 25px;
  font-family: fantasy;
  font-style: oblique;
  border-style: double;
  text-align: center;
  margin: 0px auto 0px auto;
  word-spacing: 40px;
}

#bandname {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight:400;
  word-spacing: 10px;
  border-style: none;
  width: 450px;
  margin: auto 700px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 42%;
  left: 5%;
}

.mainphoto {
  margin-left: : auto;
  margin-right: auto;
  border-style: hidden;
  position: absolute;
  top: 11%;
  left: 30%;
}

.bottom {
  border: 1px solid;
  position: absolute;
  border-radius: 100px;
  bottom: 3%;
  left: 25%;
  text-transform: capitalize;

}

.pariahimg {
  position: absolute;
  top: 95px;
  left: 8px;
}
#caption {
  font-size: 10px;
  word-spacing: 1px;
}
